appdirs==1.4.0
attrs==16.3.0
audioread==2.1.4
cffi==1.9.1
click==6.7
constantly==15.1.0
cryptography==1.7.1
cssselect==1.0.0
cycler==0.10.0
Cython==0.25.2
decorator==4.0.11
dill==0.2.6
enum34==1.1.6
Flask==0.12
Flask-SQLAlchemy==2.1
functools32==3.2.3.post2
future==0.16.0
futures==3.0.5
gapic-google-cloud-speech-v1beta1==0.14.1
google-auth==0.6.0
google-auth-httplib2==0.0.2
google-cloud-core==0.22.1
google-cloud-speech==0.22.0
google-gax==0.15.5
googleapis-common-protos==1.5.2
grpc-google-cloud-speech-v1beta1==0.14.0
grpcio==1.1.0
gTTS==1.1.8
gTTS-token==1.1.1
gunicorn==19.6.0
httplib2==0.10.3
idna==2.2
incremental==16.10.1
ipaddress==1.0.17
itsdangerous==0.24
Jinja2==2.9.4
joblib==0.10.3
librosa==0.4.2
lxml==3.7.1
MarkupSafe==0.23
matplotlib==2.0.0
numpy==1.11.0
oauth2client==3.0.0
oauthlib==2.0.1
packaging==16.8
parsel==1.1.0
pbr==1.10.0
ply==3.8
protobuf==3.2.0
psycopg2==2.6.2
pyasn1==0.2.2
pyasn1-modules==0.0.8
pycparser==2.17
PyDispatcher==2.0.5
pyOpenSSL==16.2.0
pyparsing==2.1.10
pysolr==3.6.0
python-dateutil==2.6.0
pytz==2016.10
queuelib==1.4.2
requests==2.13.0
requests-oauthlib==0.7.0
resampy==0.1.4
rsa==3.4.2
scikit-learn==0.18.1
scipy==0.18.1
service-identity==16.0.0
six==1.10.0
SQLAlchemy==1.1.5
stevedore==1.20.0
subprocess32==3.2.7
Twisted==16.6.0
twython==3.4.0
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.2
w3lib==1.16.0
watson-developer-cloud==0.23.0
Werkzeug==0.11.15
zope.interface==4.3.3
